<!DOCTYPE html>
<html ng-app="forex" lang="es">
<head>
    <meta charset="UTF-8">
    <title>ForEX</title>
    <link rel="stylesheet" href="../css/ngProgress.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.css">
    <link rel="stylesheet" href="../css/ngToast.css">
    <link rel="stylesheet" href="../css/ngToast-animations.css">
    <link rel="stylesheet" href="../css/textAngular.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../dependencies/jquery-3.1.1.js"></script>
    <script src="../angular.js"></script>
    <script src="../app.js"></script>

    <script src="../dependencies/angular-animate.js"></script>
    <script src="../dependencies/angular-locale_es-mx.js"></script>
    <script src="../dependencies/textAngular-rangy.min.js"></script>
   <!-- <script src="../dependencies/angular-sanitize.js"></script> -->
    <script src="../dependencies/angular-ui-router.min.js"></script>
    <script src="../dependencies/ngStorage.js"></script>
    <script src="../dependencies/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="../dependencies/ngToast.min.js"></script>
    <script src="../dependencies/bootstrap.min.js"></script>
    <script src="../dependencies/angular-filter.min.js"></script>
    <script src="../dependencies/ngprogress.min.js"></script>
    <script src="../dependencies/textAngular-sanitize.js"></script>
    <script src="../dependencies/textAngular.js"></script>
    <script src="../dependencies/textAngularSetup.js"></script>

    <script src="../controller/index.controller.js"></script>
    <script src="../controller/main.controller.js"></script>
    <script src="../controller/temas.controller.js"></script>
    <script src="../controller/mensaje.controller.js"></script>
    <script src="../controller/sesion.controller.js"></script>
    <script src="../controller/registrarse.controller.js"></script>
    <script src="../controller/nuevoTema.controller.js"></script>

    <script src="../factory/urlBase.service.js"></script>
    <script src="../factory/foro.service.js"></script>
    <script src="../factory/tema.service.js"></script>
    <script src="../factory/usuario.service.js"></script>
    <script src="../factory/mensaje.service.js"></script>

    <script src="../directives/forum.list.js"></script>
</head>
<body ng-controller="index.controller">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">ForEX</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href=""><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Principal</a></li>
                <li><a href=""><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Usuarios</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="storage.nick != null">
                    <a href="" ng-click="nuevoTema()" ng-bind-html="text.nuevoTema" ng-cloak></a>
                </li>
                <li ng-if="storage.nick === undefined || storage.nick === null">
                    <a href="" ng-click="registrarse()" ng-cloak>{{text.register}}</a>
                </li>
                <li ng-if="storage.nick === undefined || storage.nick === null">
                    <a href="" ng-click="iniciarSesion()" ng-cloak>{{text.login}}</a>
                </li>
                <li ng-if="storage.nick != null" class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" ng-cloak>{{storage.nick}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Ver perfil</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="cerrarSesion()" href="">Cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div ui-view></div>
<toast></toast>
</body>
</html>