<div class="container">
    <ul style="background-color: transparent" class="breadcrumb">
        <li><a href=""><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></a></li>
        <li><a href="" ui-sref="temas({foro:foro})">{{foro}}</a></li>
        <li class="active">{{tema}}</li>
    </ul>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <ul id="pag" class="no-margin pagination pagination-sm">
                <li ng-class="{'disabled': pagina==1 }" ng-click="pagina==1 || setPagina(1)">
                    <a class="animation" href="">&laquo;</a></li>
                <li ng-repeat="n in generarPaginas()" ng-class="{'disabled': pagina==n }">
                    <a class="animation" ng-click="pagina==n || setPagina(n)" href="">{{n}}</a>
                </li>
                <li ng-class="{'disabled': pagina==maxPaginas }" ng-click="pagina==maxPaginas || setPagina(maxPaginas)">
                    <a class="animation" href="">&raquo;</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="panel-body">
                <div ng-repeat="mensaje in mensajes" class="panel panel-default borderless no-margin">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2 ">
                                <div class="img-responsive center-block text-center">
                                    <h4>{{mensaje.nick}}</h4>
                                    <img class="custom-img-responsive" src="../img/default.png" alt=""><br><br>
                                    Miembro<br>
                                    Mensajes: {{mensaje.cantidad}} <br><br>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div ng-bind-html="mensaje.contenido"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-heading">
            <ul class="no-margin pagination pagination-sm">
                <li ng-class="{'disabled': pagina==1 }">
                    <a class="animation" ng-click="pagina==1 || setPagina(1)" href="">&laquo;</a></li>
                <li ng-repeat="n in generarPaginas()" ng-class="{'disabled': pagina==n }">
                    <a class="animation" ng-click="pagina==n || setPagina(n)" href="">{{n}}</a>
                <li ng-class="{'disabled': pagina==maxPaginas }">
                    <a class="animation" ng-click="pagina==maxPaginas || setPagina(maxPaginas)" href="">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <div style="margin-bottom: 10%" >
        <div ng-if="storage.nick != null" text-angular ng-model="$parent.contenido"></div>
        <br>
        <div align="center">
            <button ng-click="enviarMensaje()" class="btn bg-success">Enviar mensaje</button></div>
    </div>
</div>