<div ng-if="error" class="container">
    <error header="'Error' " mensaje="' El foro no existe o no tiene temas asociados'"></error>
</div>
<div ng-if="mostrar" id="temas" class="container">
    <ul style="background-color: transparent" class="breadcrumb">
        <li><a href="#"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></a></li>
        <li class="active">{{foro}}</li>
    </ul>
    <topics-list pagina="pagina" max-paginas="maxPaginas" temas="temas" cant-element="cantidad" service="service"
                 foro="foro"></topics-list>
</div>
