* {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.font-size-12 {
    font-size: 12px;
}

.borderless {
    border-top: transparent;
}

.borderless:first-child {
    border-top: 1px solid;
    border-color: #464545
}

.animation {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.custom-img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

@media screen and (max-width: 767px){
    .custom-img-responsive {
        display: unset;
        max-width: 100%;
        height: auto
    }
}