<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Nuevo tema</h4>
    </div>
    <div class="modal-body">
        <form autocomplete='off' class="form-horizontal">
            <div class="form-group">
                <label for="inputForo" class="col-lg-2 control-label">Foro</label>
                <div class="col-lg-10">
                    <select id="inputForo" ng-model="foro" class="form-control"
                            ng-options="foro as foro.nombre
                             for
                              foro
                            in foros">

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputTitulo" class="col-lg-2 control-label">Titulo</label>
                <div class="col-lg-10">
                    <input maxlength="60" type="text" ng-model="titulo" class="form-control" id="inputTitulo"
                           placeholder="Titulo">
                </div>
            </div>
            <text-angular ng-model="contenido"></text-angular>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
        <button type="button" ng-click="crearTema()" class="btn btn-primary">Crear tema</button>
    </div>
</div>