<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Registrarse</h4>
    </div>
    <form ng-submit="registrarse()" autocomplete='off'>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="inputUser" class="col-lg-2 control-label">Usuario</label>
                    <div class="col-lg-10">
                        <input required type="text" minlength="2" maxlength="15" name="username" ng-model="usuario" class="form-control"
                               id="inputUser"
                               placeholder="Usuario">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Nombre</label>
                    <div class="col-lg-10">
                        <input required type="text" minlength="2" maxlength="15" name="username" ng-model="nombre" class="form-control"
                               id="inputName" placeholder="Nombre">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSe" class="col-lg-2 control-label">Apellido</label>
                    <div class="col-lg-10">
                        <input required type="text" minlength="2" maxlength="15" name="username" ng-model="apellido" class="form-control" id="inputSe"
                               placeholder="Apellido">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input required type="email" maxlength="30" name="username" ng-model="email" class="form-control"
                               id="inputEmail"
                               placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label required for="inputPassword" minlength="6" maxlength="15" class="col-lg-2 control-label">Contraseña</label>
                    <div class="col-lg-10">
                        <input type="password" name="password" ng-model="pass" class="form-control" id="inputPassword"
                               placeholder="Contraseña">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cerrar</button>
            <button type="submit"  class="btn btn-primary">Registrarse</button>
        </div>
    </form>
</div>